.footer{
    height: 50px;
    width: 100%;
    background: rgb(26, 32, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 24px;
    font-weight: 600;
}